*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-home{
    color: gray;
}
.profile{
    width: 5vw;
    height: 5vw;
    margin-right: 20px;
}
.basket{
    width: 5vw;
    height: 5vw;
}
.header{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    flex-direction: row;
}
.header-right{
    display: flex;
    justify-content: flex-end;
}
.header-left-col{
    display: flex;
    flex-direction: column;
}
.header-left-col h2{
    color: purple;
}
.search{
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    width: 30%;
    height: 2em;
    margin-left: 10px;
    padding: 1em;
}
.fa-magnifying-glass{
    font-size: 1.5rem;
    color: purple;
}

.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    justify-content: space-between;
    grid-gap: 3em;
    padding: 1em;
}
.categories-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: purple;
}
.categories-item:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.categories-item h6{
    font-weight: bold;
    font-size: small;
}
.categories-item img{
    height: 80px;
    width: 80px;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
}

@media only screen and (max-width: 600px){
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
    .search-bar{
        min-width: 100%;
    }
    .profile, .basket{
        height: 10vw;
        width: 10vw;
    }
    .header{
        align-items: flex-start;
    }
    .header-left-col h2{
        font-size: 1em;
    }

}
