*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-home{
    color: gray;
}
.profile{
    width: 5vw;
    height: 5vw;
    margin-right: 20px;
}
.basket{
    width: 5vw;
    height: 5vw;
}
.header{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    flex-direction: row;
}
.header-right{
    display: flex;
    justify-content: flex-end;
}
.header-left-col{
    display: flex;
    flex-direction: column;
}
.header-left-col span{
    color: hsl(257, 53%, 28%);
}
.search{
    padding: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search i {
    position: absolute;
    left: 330px;
}
.search-bar{
    width: 60%;
    height: 2em;
    margin-left: 10px;
    padding: 20px 20px 20px 50px;
}
.fa-magnifying-glass{
    font-size: 1.5rem;
    color: hsl(257, 53%, 28%);
}

.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    justify-content: space-between;
    grid-row-gap: 1em;
    padding: 1em;
}
.categories-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: hsl(257, 53%, 28%);
}
.categories-item:hover{
    transition: 0.2s;
    transform: scale(1.1);
}
.categories-item h6{
    font-weight: bold;
    font-size: small;
}
.categories-item img{
    height: 180px;
    width: 180px;
    margin-bottom: 1em;
    border-radius: 10px;
}

/* Navbar CSS Start */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.425);
}
.nav-bar a i{
    font-size: 2em;
    color: hsl(257, 53%, 28%);
}
/* Navbar CSS End */

@media only screen and (max-width: 600px){
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
    .categories-item img{
        height: 100px;
        width: 100px;
    }
    .search-bar{
        min-width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.466);
        margin: 0%;
        width: 100%;
        padding: 0%;
        padding: 20px 20px 20px 50px;
    }
    .profile, .basket{
        height: 12vw;
        width: 12vw;
    }
    .header{
        align-items: flex-start;
    }
    .header-left-col{
        line-height: normal;
    }
    .header-left-col span{
        font-size: 16px;
        font-weight: bolder;
    }
    .nav-bar{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        overflow: hidden;
        background-color: white;

        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .search{
        margin: 10px 0px 10px 0px;
        width: 100%;
        padding: 0px 15px 0px 15px;

    }
    .search i{
        left: 30px;
    }
}

/* Smartphone Rotated CSS Start*/
@media only screen and (max-width: 900px) and (orientation: landscape){
    .search-bar{
        min-width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.466);
        margin: 0%;
        width: 100%;
        padding: 0%;
        padding: 20px 20px 20px 50px;
    }
    .search{
        margin: 10px 0px 10px 0px;
        width: 100%;
        padding: 0px 15px 0px 15px;

    }
    .search i{
        left: 30px;
    }
    .categories-item img{
        height: 120px;
        width: 120px;
    }
/* Smartphone Rotated CSS End*/

}